In [44]:
import pandas as pd
import numpy as np

In [52]:
movies = pd.read_csv('dataset/movie.csv')
ratings = pd.read_csv('dataset/rating.csv')[0:1000]
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [53]:
len(movies)
len(ratings)

1000

In [54]:
ratings.drop(['timestamp'], axis=1, inplace=True)

In [55]:
ratings.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [56]:
def replace_name(x):
    return movies[movies['movieId'] == x].title.values[0]

ratings.movieId = ratings.movieId.map(replace_name)
ratings.head()

   userId                                            movieId  rating
0       1                                     Jumanji (1995)     3.5
1       1  City of Lost Children, The (Cité des enfants p...     3.5
2       1          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)     3.5
3       1                        Seven (a.k.a. Se7en) (1995)     3.5
4       1                         Usual Suspects, The (1995)     3.5

In [58]:
M = ratings.pivot_table(index=['userId'], columns=['movieId'], values='rating')

In [59]:
M

movieId,1984 (Nineteen Eighty-Four) (1984),2001: A Space Odyssey (1968),2010: The Year We Make Contact (1984),28 Days (2000),28 Days Later (2002),"7th Voyage of Sinbad, The (1958)",8MM (1999),A.I. Artificial Intelligence (2001),Abbott and Costello Meet Frankenstein (1948),"Abyss, The (1989)",...,"Wizard of Oz, The (1939)","Wolf Man, The (1941)","X-Files: Fight the Future, The (1998)",X-Men (2000),X2: X-Men United (2003),Yellow Submarine (1968),Yojimbo (1961),You've Got Mail (1998),Young Frankenstein (1974),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,3.5,NaN,NaN,3.5,4.0,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,4.0,NaN,3.0,NaN,4.0,NaN
2,NaN,5.0,NaN,3.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.0,5.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,3.0,...,4.0,NaN,5.0,NaN,NaN,3.0,NaN,NaN,5.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,3.0,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,4.0,NaN,4.0,NaN,NaN,NaN,3.0,NaN,2.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
def pearson(s1, s2):
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    
    a = np.sum(s1_c * s2_c)
    b = np.sqrt( np.sum(s1_c ** 2) * np.sum(s2_c ** 2) )
    
    if b > 0:
        return a/b
    
    return 0.0

In [111]:
pearson(M['1984 (Nineteen Eighty-Four) (1984)'], M['1984 (Nineteen Eighty-Four) (1984)'])

0.0

In [113]:
def get_rec(movie_name, M, num):
    import numpy as np
    
    reviews = []
    
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
            
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

In [ ]:
recs = get_rec()