In [44]:
import pandas as pd
import numpy as np

In [52]:
movies = pd.read_csv('dataset/movie.csv')
ratings = pd.read_csv('dataset/rating.csv')[0:1000]
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [53]:
len(movies)
len(ratings)

1000

In [54]:
ratings.drop(['timestamp'], axis=1, inplace=True)

In [55]:
ratings.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [ ]:
def replace_name(x):